/* 1600-1200*/
/* 1684 +  */
/* 1684 -  */
/* 340- */
/* 1430 - 1200*/
/* 992-*/
/* 1700 - 1200 */
/*1200- */
/* 715- */
/* 380-*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

i {
  font-style: normal; }

header .topHeader .guarantees_wrapper {
  height: 80px; }
  @media only screen and (max-width: 1684px) {
    header .topHeader .guarantees_wrapper {
      display: none; } }
  header .topHeader .guarantees_wrapper .guarantees {
    font-family: "MyriadProRegular";
    font-size: 17px;
    color: #5075e7; }

header .topHeader .burgerNav {
  height: 80px; }
  @media only screen and (min-width: 1684px) {
    header .topHeader .burgerNav {
      display: none; } }

header .topHeader .logo_wrapper {
  height: 80px; }
  header .topHeader .logo_wrapper .logo {
    max-width: 100%; }

header .topHeader .mainBtnWrappers {
  padding-top: 22px;
  height: 80px; }
  header .topHeader .mainBtnWrappers .liveChat {
    width: 70%;
    padding: 12px 0px;
    border-radius: 15px;
    border: none;
    font-family: "MyriadProRegular";
    font-size: 20px;
    color: #fff;
    background: linear-gradient(to top, #9219d7 0%, #c16ef0 100%); }
  header .topHeader .mainBtnWrappers .login {
    width: 100%;
    padding: 12px 0px;
    border-radius: 15px;
    border: none;
    font-family: "MyriadProRegular";
    font-size: 20px;
    color: #fff;
    background: linear-gradient(to top, #5075e7 0%, #8cadf4 100%); }

header .topHeader .hr {
  background: url(../img/hr.png) 20% 50%;
  width: 1559px;
  height: 3px;
  display: inline-block; }
  @media only screen and (max-width: 1684px) {
    header .topHeader .hr {
      display: none; } }

@media only screen and (max-width: 1684px) {
  header .topHeader .mainNav_wrapper {
    display: none; } }

header .topHeader .mainNav_wrapper ul li {
  display: inline-block;
  padding-left: 25px; }
  header .topHeader .mainNav_wrapper ul li a {
    font-family: "ProximaNova-Light";
    font-size: 17px;
    color: #2c3248; }

header .middleHeader {
  background: url(../img/O6VQVV0.jpg) no-repeat;
  background-size: cover;
  height: 756px; }
  @media only screen and (max-width: 1684px) {
    header .middleHeader {
      background: none;
      height: auto; } }
  header .middleHeader .middleHeader_TitleWrapper {
    text-align: center;
    padding-top: 70px; }
    @media only screen and (max-width: 340px) {
      header .middleHeader .middleHeader_TitleWrapper {
        padding-top: 30px; } }
    header .middleHeader .middleHeader_TitleWrapper .welcome {
      font-family: "ProximaNova-Semibold";
      font-size: 30px;
      color: #19152d; }
      @media only screen and (max-width: 340px) {
        header .middleHeader .middleHeader_TitleWrapper .welcome {
          font-family: "ProximaNova-Semibold";
          font-size: 20px;
          color: #19152d; } }
    header .middleHeader .middleHeader_TitleWrapper .titleLogo {
      font-family: "ProximaNova-Semibold";
      font-size: 40px;
      color: #5378e8;
      text-transform: uppercase; }
      @media only screen and (max-width: 340px) {
        header .middleHeader .middleHeader_TitleWrapper .titleLogo {
          font-family: "ProximaNova-Semibold";
          font-size: 30px;
          color: #5378e8; } }
      header .middleHeader .middleHeader_TitleWrapper .titleLogo .dot {
        color: #19152d; }
    header .middleHeader .middleHeader_TitleWrapper .welcomeText {
      font-family: "ProximaNova-Semibold";
      font-size: 25px;
      color: #19152d; }
      @media only screen and (max-width: 340px) {
        header .middleHeader .middleHeader_TitleWrapper .welcomeText {
          font-family: "ProximaNova-Semibold";
          font-size: 20px;
          color: #19152d; } }
  header .middleHeader .calculator_wrapper {
    position: relative;
    margin-top: 15px;
    background-color: #fff;
    padding: 15px 25px;
    box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75); }
    header .middleHeader .calculator_wrapper .calc_title_wrapper {
      padding-bottom: 10px; }
      header .middleHeader .calculator_wrapper .calc_title_wrapper .title {
        font-family: "ProximaNova-Regular";
        font-size: 30px;
        color: #9824da; }
    header .middleHeader .calculator_wrapper .calc_inner .capture_wrapper {
      padding-left: 10px;
      padding-bottom: 5px;
      padding-top: 5px; }
      header .middleHeader .calculator_wrapper .calc_inner .capture_wrapper .capture {
        font-family: "ProximaNova-Light";
        font-size: 18px;
        color: #19152d; }
    header .middleHeader .calculator_wrapper .button_drop_wrapper .dropdown-trigger {
      display: block;
      width: 95%;
      border: 1px solid #99caeb;
      font-family: "ProximaNova-Light";
      font-size: 18px;
      color: #19152d;
      border-radius: 15px;
      padding: 5px 10px; }
    header .middleHeader .calculator_wrapper .button_drop_wrapper .dropdown-content li a {
      font-family: "ProximaNova-Light";
      font-size: 18px;
      color: #19152d; }
    header .middleHeader .calculator_wrapper .calcBTN_wrapper {
      padding: 25px 0px; }
      header .middleHeader .calculator_wrapper .calcBTN_wrapper .mainCalcButton {
        padding: 15px 5px;
        border-radius: 15px;
        border: none;
        background: linear-gradient(to top, #5075e7 0%, #8cadf4 100%);
        font-family: "MyriadProRegular";
        font-size: 20px;
        color: #fff; }

main {
  padding-top: 50px; }
  main .howItWorks .stepWrapper .imgWrapper {
    padding-top: 60px;
    text-align: center; }
    @media only screen and (max-width: 992px) {
      main .howItWorks .stepWrapper .imgWrapper {
        text-align: center; } }
    main .howItWorks .stepWrapper .imgWrapper .form {
      height: 83px;
      width: 78px;
      display: inline-block;
      background: url(../img/Form-1.png) no-repeat; }
    main .howItWorks .stepWrapper .imgWrapper .form3 {
      height: 83px;
      width: 81px;
      display: inline-block;
      background: url(../img/Form-3.png) no-repeat; }
    main .howItWorks .stepWrapper .imgWrapper .form2 {
      height: 83px;
      width: 79px;
      display: inline-block;
      background: url(../img/Form-2.png) no-repeat; }
    main .howItWorks .stepWrapper .imgWrapper .form4 {
      height: 83px;
      width: 78px;
      display: inline-block;
      background: url(../img/Form-4.png) no-repeat; }
  main .howItWorks .stepWrapper .textWrapper {
    padding: 50px 0px; }
    main .howItWorks .stepWrapper .textWrapper .title {
      font-family: "ProximaNova-Semibold";
      font-size: 25px;
      color: #171717; }
      @media (min-width: 1200px) and (max-width: 1430px) {
        main .howItWorks .stepWrapper .textWrapper .title {
          font-family: "ProximaNova-Semibold";
          font-size: 20px;
          color: #171717; } }
      @media only screen and (max-width: 992px) {
        main .howItWorks .stepWrapper .textWrapper .title {
          text-align: center; } }
    main .howItWorks .stepWrapper .textWrapper .text {
      font-family: "ProximaNova-Light";
      font-size: 18px;
      color: #171717; }
      @media (min-width: 1200px) and (max-width: 1430px) {
        main .howItWorks .stepWrapper .textWrapper .text {
          font-family: "ProximaNova-Light";
          font-size: 16px;
          color: #171717; } }
      @media only screen and (max-width: 992px) {
        main .howItWorks .stepWrapper .textWrapper .text {
          text-align: center; } }
  main .howItWorks .textAboutHowItWorks .text {
    font-family: "ProximaNova-Light";
    font-size: 20px;
    color: #19152d; }
    @media only screen and (max-width: 992px) {
      main .howItWorks .textAboutHowItWorks .text {
        text-align: center; } }
  main .howItWorks .BtnWrapper {
    padding-top: 30px; }
    main .howItWorks .BtnWrapper .read {
      width: 100%;
      padding: 12px 0px;
      border-radius: 15px;
      border: none;
      font-family: "MyriadProRegular";
      font-size: 20px;
      color: #fff;
      background: linear-gradient(to top, #9219d7 0%, #c16ef0 100%); }
      @media only screen and (max-width: 1684px) {
        main .howItWorks .BtnWrapper .read {
          font-family: "MyriadProRegular";
          font-size: 13px;
          color: #fff; } }
    main .howItWorks .BtnWrapper .order {
      width: 100%;
      padding: 12px 0px;
      border-radius: 15px;
      border: none;
      font-family: "MyriadProRegular";
      font-size: 20px;
      color: #fff;
      background: linear-gradient(to top, #5075e7 0%, #8cadf4 100%); }
      @media only screen and (max-width: 1684px) {
        main .howItWorks .BtnWrapper .order {
          font-family: "MyriadProRegular";
          font-size: 13px;
          color: #fff; } }
  main .choose .bgStar {
    height: 461px;
    background: linear-gradient(to left, #5075e7 0%, #8cadf4 100%);
    box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75); }
    main .choose .bgStar::before {
      height: 367px;
      width: 386px;
      content: url(../img/starOne.png);
      position: absolute;
      opacity: 0.1;
      left: 14%; }
      @media only screen and (max-width: 1200px) {
        main .choose .bgStar::before {
          left: 32%; } }
      @media only screen and (max-width: 715px) {
        main .choose .bgStar::before {
          display: none; } }
  main .choose .textWrapper {
    text-align: center;
    padding-top: 50px; }
    @media only screen and (max-width: 1200px) {
      main .choose .textWrapper {
        padding-top: 25px; } }
    main .choose .textWrapper .whyChoozeTitle {
      text-transform: uppercase;
      font-family: "ProximaNova-Regular";
      font-size: 69px;
      color: #fff; }
      @media (min-width: 1200px) and (max-width: 1730px) {
        main .choose .textWrapper .whyChoozeTitle {
          font-family: "ProximaNova-Regular";
          font-size: 50px;
          color: #fff; } }
      @media only screen and (max-width: 715px) {
        main .choose .textWrapper .whyChoozeTitle {
          font-family: "ProximaNova-Regular";
          font-size: 30px;
          color: #fff; } }
    main .choose .textWrapper .whyChoozeText {
      font-family: "ProximaNova-Light";
      font-size: 23px;
      color: #fff; }
      @media (min-width: 1200px) and (max-width: 1730px) {
        main .choose .textWrapper .whyChoozeText {
          font-family: "ProximaNova-Regular";
          font-size: 20px;
          color: #fff; } }
      @media only screen and (max-width: 715px) {
        main .choose .textWrapper .whyChoozeText {
          font-family: "ProximaNova-Regular";
          font-size: 16px;
          color: #fff; } }
  main .choose .listAbout {
    padding-top: 30px; }
    @media only screen and (max-width: 1200px) {
      main .choose .listAbout {
        padding-top: 25px; } }
    main .choose .listAbout ul li {
      font-family: "ProximaNova-Regular";
      font-size: 19px;
      color: #19152d; }
      @media (min-width: 1200px) and (max-width: 1730px) {
        main .choose .listAbout ul li {
          font-family: "ProximaNova-Regular";
          font-size: 15px;
          color: #19152d; } }
  @media only screen and (max-width: 992px) {
    main .placeBanner {
      display: none; } }
  main .placeBanner .bannerWrapper {
    height: 300px;
    background-color: #e7e7e7;
    text-align: center;
    padding: 5%; }
    @media only screen and (max-width: 1684px) {
      main .placeBanner .bannerWrapper {
        padding: 5%; } }
    main .placeBanner .bannerWrapper .bannerText {
      text-transform: uppercase;
      font-family: "ProximaNova-Semibold";
      font-size: 110px;
      color: #fff; }
      @media only screen and (max-width: 1684px) {
        main .placeBanner .bannerWrapper .bannerText {
          font-family: "ProximaNova-Semibold";
          font-size: 75px;
          color: #fff; } }
  main .ourServices {
    padding-top: 50px; }
    main .ourServices .title p {
      text-transform: uppercase;
      font-family: "ProximaNova-Regular";
      font-size: 49px;
      color: #19152d; }
    main .ourServices .text p {
      font-family: "ProximaNova-Regular";
      font-size: 20px;
      color: #19152d;
      padding-bottom: 50px; }
    main .ourServices .book {
      text-align: center;
      height: 385px;
      background: linear-gradient(to top, #9219d7 0%, #c16ef0 100%);
      box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
      padding-top: 40px; }
      @media (min-width: 1200px) and (max-width: 1730px) {
        main .ourServices .book {
          padding-top: 50px; } }
      main .ourServices .book .titleBook {
        font-family: "ProximaNova-Regular";
        font-size: 50px;
        color: #fff; }
        @media (min-width: 1200px) and (max-width: 1730px) {
          main .ourServices .book .titleBook {
            font-family: "ProximaNova-Regular";
            font-size: 35px;
            color: #fff; } }
        @media only screen and (max-width: 380px) {
          main .ourServices .book .titleBook {
            font-family: "ProximaNova-Regular";
            font-size: 30px;
            color: #fff; } }
      main .ourServices .book .textBook .textBookInner {
        font-family: "ProximaNova-Regular";
        font-size: 20px;
        color: #fff; }
        @media (min-width: 1200px) and (max-width: 1730px) {
          main .ourServices .book .textBook .textBookInner {
            font-family: "ProximaNova-Regular";
            font-size: 18px;
            color: #fff; } }
      main .ourServices .book .buttonWrapper {
        padding-top: 20px; }
        main .ourServices .book .buttonWrapper button {
          background: none;
          border: 3px solid #fff;
          border-radius: 15px;
          padding: 10px 15px;
          font-family: "ProximaNova-Regular";
          font-size: 25px;
          color: #fff; }
          @media (min-width: 1200px) and (max-width: 1730px) {
            main .ourServices .book .buttonWrapper button {
              font-family: "ProximaNova-Regular";
              font-size: 20px;
              color: #fff; } }
    main .ourServices .resume {
      text-align: center;
      height: 385px;
      background: linear-gradient(to top, #fd517e 0%, #fa6f94 100%);
      box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
      padding-top: 40px; }
      @media (min-width: 1200px) and (max-width: 1730px) {
        main .ourServices .resume {
          padding-top: 35px; } }
      @media only screen and (max-width: 992px) {
        main .ourServices .resume {
          margin-top: 30px; } }
      @media only screen and (max-width: 380px) {
        main .ourServices .resume {
          padding-top: 10px; } }
      main .ourServices .resume .titleResume {
        font-family: "ProximaNova-Regular";
        font-size: 50px;
        color: #fff; }
        @media (min-width: 1200px) and (max-width: 1730px) {
          main .ourServices .resume .titleResume {
            font-family: "ProximaNova-Regular";
            font-size: 35px;
            color: #fff; } }
        @media only screen and (max-width: 1200px) {
          main .ourServices .resume .titleResume {
            font-family: "ProximaNova-Regular";
            font-size: 45px;
            color: #fff; } }
        @media only screen and (max-width: 380px) {
          main .ourServices .resume .titleResume {
            font-family: "ProximaNova-Regular";
            font-size: 40px;
            color: #fff; } }
        @media only screen and (max-width: 380px) {
          main .ourServices .resume .titleResume {
            font-family: "ProximaNova-Regular";
            font-size: 30px;
            color: #fff; } }
      main .ourServices .resume .textResume .textResumeInner {
        font-family: "ProximaNova-Regular";
        font-size: 20px;
        color: #fff; }
      main .ourServices .resume .buttonWrapper {
        padding-top: 20px; }
        main .ourServices .resume .buttonWrapper button {
          background: none;
          border: 3px solid #fff;
          border-radius: 15px;
          padding: 10px 15px;
          font-family: "ProximaNova-Regular";
          font-size: 25px;
          color: #fff; }
          @media (min-width: 1200px) and (max-width: 1730px) {
            main .ourServices .resume .buttonWrapper button {
              font-family: "ProximaNova-Regular";
              font-size: 20px;
              color: #fff; } }
    main .ourServices .case {
      text-align: center;
      height: 385px;
      background: linear-gradient(to top, #5075e7 0%, #8cadf4 100%);
      box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
      padding-top: 40px; }
      @media (min-width: 1200px) and (max-width: 1730px) {
        main .ourServices .case {
          padding-top: 50px; } }
      @media only screen and (max-width: 1200px) {
        main .ourServices .case {
          margin-top: 30px; } }
      main .ourServices .case .titleCase {
        font-family: "ProximaNova-Regular";
        font-size: 50px;
        color: #fff; }
        @media (min-width: 1200px) and (max-width: 1730px) {
          main .ourServices .case .titleCase {
            font-family: "ProximaNova-Regular";
            font-size: 35px;
            color: #fff; } }
        @media only screen and (max-width: 380px) {
          main .ourServices .case .titleCase {
            font-family: "ProximaNova-Regular";
            font-size: 30px;
            color: #fff; } }
      main .ourServices .case .textCase .textCaseInner {
        font-family: "ProximaNova-Regular";
        font-size: 20px;
        color: #fff; }
        @media (min-width: 1200px) and (max-width: 1730px) {
          main .ourServices .case .textCase .textCaseInner {
            font-family: "ProximaNova-Regular";
            font-size: 18px;
            color: #fff; } }
      main .ourServices .case .buttonWrapper {
        padding-top: 20px; }
        main .ourServices .case .buttonWrapper button {
          background: none;
          border: 3px solid #fff;
          border-radius: 15px;
          padding: 10px 15px;
          font-family: "ProximaNova-Regular";
          font-size: 25px;
          color: #fff; }
          @media (min-width: 1200px) and (max-width: 1730px) {
            main .ourServices .case .buttonWrapper button {
              font-family: "ProximaNova-Regular";
              font-size: 20px;
              color: #fff; } }
    main .ourServices .textAboutServ {
      font-family: "ProximaNova-Light";
      font-size: 20px;
      color: #28253b; }
      @media only screen and (max-width: 992px) {
        main .ourServices .textAboutServ {
          text-align: center; } }
  main .services {
    padding-top: 70px; }
    main .services .servicesTitle .title {
      text-transform: uppercase;
      font-family: "ProximaNova-Regular";
      font-size: 49px;
      color: #19152d;
      padding-bottom: 70px; }
      @media only screen and (max-width: 380px) {
        main .services .servicesTitle .title {
          font-family: "ProximaNova-Regular";
          font-size: 40px;
          color: #19152d; } }
    main .services .firstBlock {
      text-align: center; }
      main .services .firstBlock .img {
        width: 70px;
        height: 88px;
        background: url(../img/user.png);
        display: inline-block;
        padding: 10px 0px; }
      main .services .firstBlock .img2 {
        width: 70px;
        height: 88px;
        background: url(../img/shield.png);
        display: inline-block;
        padding: 10px 0px; }
    main .services .img3 {
      width: 70px;
      height: 88px;
      background: url(../img/doc.png);
      display: inline-block;
      padding: 10px 0px; }
    main .services .titleOfBlock {
      padding: 5px 0px;
      font-size: 20px;
      font-family: "ProximaNova-Bold";
      color: #19152d; }
    main .services .text {
      color: #19152d;
      font-size: 18px;
      font-family: "ProximaNova-Light";
      padding-bottom: 40px; }
