$Riad-Regular: "MyriadProRegular";

$Proxima-Light: "ProximaNova-Light";
$Proxima-Regular: "ProximaNova-Regular";
$Proxima-Semibold: "ProximaNova-Semibold";
$Proxima-Bold: "ProximaNova-Bold";

$Color-Guarantees: #5075e7;
$Color-TextBtn: #fff;
$color-TextNav: #2c3248;
$ColorTextTitle:#19152d;
$ColorTextTitleLogo: #5378e8;
$ColorCalcTitle:#9824da;
$ColorTextCalc: #19152d;
$colorBgCalc: #fff;
$ColorTextHowItWorks: #171717;
$ColorTextAfterHowItWorks:#19152d;
$ColorWhyChooze: #fff;
$colorServices: #fff;
$colorBgFooterNav: #30323a;
$colorTextFooterNav: #fff;
$BgMainFooter:#0a1127;