@import 'variables';
@import 'media';
@import 'globalSettings';
@import 'mixins';

header{
    .topHeader{
        .guarantees_wrapper{
            @include ResponsXLinL{
                   display: none;
                }
            height: 80px;
            .guarantees{
                @include text($Riad-Regular, 17px, $Color-Guarantees);
            }
        }
        .burgerNav{
            @include  ResponsXlUP{
                display: none;
            }
            height: 80px;
        }
        .logo_wrapper{
            height: 80px;
            .logo{
                max-width: 100%;
            }
        }
        .mainBtnWrappers{
                padding-top: 22px;
                height: 80px;
            .liveChat{
                width: 70%;
                padding: 12px 0px;
                border-radius: 15px;
                border: none;
                @include text($Riad-Regular, 20px, $Color-TextBtn);
                background: linear-gradient(to top, #9219d7 0%, #c16ef0 100%);
                @include ResponsS350{
                    @include text($Riad-Regular, 15px, $Color-TextBtn);
                }
                }
            .login{
                width: 100%;
                padding: 12px 0px;
                border-radius: 15px;
                border: none;
                @include text($Riad-Regular, 20px, $Color-TextBtn);
                background: linear-gradient(to top, #5075e7 0%, #8cadf4 100%);
                 @include ResponsS350{
                    @include text($Riad-Regular, 15px, $Color-TextBtn);
                }
            }
        }
        .hr{
            background: url(../img/hr.png)20% 50%;
            width: 1559px;
            height: 3px;
            display: inline-block;
            @include ResponsXLinL{
                display: none;
            }
        }
        .mainNav_wrapper{
            @include ResponsXLinL{
                display: none;
            }
             ul{
                li{
                    display: inline-block;
                    padding-left: 25px;
                    a{
                        @include text($Proxima-Light, 17px, $color-TextNav);
                    }
                }
            }
        }
    }
    .middleHeader{
        background: url(../img/O6VQVV0.jpg) no-repeat;
        background-size: cover;
        height: 756px;
        @include ResponsXLinL{
            background: none;
            height: auto;
        }
        .middleHeader_TitleWrapper{
            text-align: center;
            padding-top: 70px;
            @include  ResponsS{
                padding-top: 30px;
            }
            .welcome{
                @include text($Proxima-Semibold,30px,$ColorTextTitle );
                @include  ResponsS{
                    @include text($Proxima-Semibold, 20px, $ColorTextTitle);
                }
            }
            .titleLogo{
                @include text($Proxima-Semibold,40px,$ColorTextTitleLogo );
                text-transform: uppercase;
                 @include  ResponsS{
                    @include text($Proxima-Semibold, 30px, $ColorTextTitleLogo);
                }
                .dot{
                    color: $ColorTextTitle;
                }
            }
            .welcomeText{
                @include text($Proxima-Semibold,25px,$ColorTextTitle );
                 @include  ResponsS{
                    @include text($Proxima-Semibold, 20px, $ColorTextTitle);
                }
            }
        }
        .calculator_wrapper{
            position: relative;
            margin-top: 15px;
            background-color: $colorBgCalc;
            padding: 15px 25px;
            box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
            .calc_title_wrapper{
                padding-bottom: 10px;
                .title{
                    @include text($Proxima-Regular,30px,$ColorCalcTitle);
                    @include ResponsS350{
                        @include text($Proxima-Regular,25px,$ColorCalcTitle);
                    }
                }
            }
            .calc_inner{
                .capture_wrapper{
                    padding-left: 10px;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    .capture{
                        @include text($Proxima-Light,18px,$ColorTextCalc);
                    }
                }

            }
            .button_drop_wrapper{
                .dropdown-trigger{
                    display: block;
                    width: 95%;
                    border: 1px solid #99caeb;
                    @include text($Proxima-Light,18px,$ColorTextCalc);
                    border-radius: 15px;
                    padding: 5px 10px;
                }
                .dropdown-content{
                    li{
                        a{
                            @include text($Proxima-Light,18px,$ColorTextCalc); 
                        }
                    }
                }
            }
            .calcBTN_wrapper{
                padding: 25px 0px;
                .mainCalcButton{
                    padding: 15px 5px;
                    border-radius: 15px;
                    border: none;
                    background: linear-gradient(to top, #5075e7 0%, #8cadf4 100%);
                    @include text( $Riad-Regular,20px,$Color-TextBtn);
                    @include ResponsS350{
                    @include text($Riad-Regular, 15px, $Color-TextBtn);
                }
                }
            }
        }
    }
}
main{
    padding-top: 50px;
    .howItWorks{
        .stepWrapper{
            .imgWrapper{
                padding-top: 60px;
                text-align: center;
                @include resp992{
                    text-align: center;
                }
                .form{
                   height: 83px;
                   width: 78px;
                   display: inline-block;
                   background: url(../img/Form-1.png) no-repeat;
                }
                .form3{
                   height: 83px;
                   width: 81px;
                   display: inline-block;
                   background: url(../img/Form-3.png) no-repeat; 
                }
                 .form2{
                   height: 83px;
                   width: 79px;
                   display: inline-block;
                   background: url(../img/Form-2.png) no-repeat; 
                }
                .form4{
                   height: 83px;
                   width: 78px;
                   display: inline-block;
                   background: url(../img/Form-4.png) no-repeat; 
                }
            }
            .textWrapper{
                 padding: 50px 0px;
                .title{
                    @include text($Proxima-Semibold, 25px, $ColorTextHowItWorks);
                    @include resp1430{
                         @include text($Proxima-Semibold, 20px, $ColorTextHowItWorks);
                    }
                    @include resp992{
                    text-align: center;
                    }
                }
                .text{
                    @include text($Proxima-Light, 18px, $ColorTextHowItWorks);
                    @include resp1430{
                        @include text($Proxima-Light, 16px, $ColorTextHowItWorks);
                    }
                    @include resp992{
                    text-align: center;
                    }
                }
            }   
        }
        .textAboutHowItWorks{
            .text{
                @include text($Proxima-Light, 20px, $ColorTextAfterHowItWorks);
                @include resp992{
                    text-align: center;
                }
            }
        }
        .BtnWrapper{
            padding-top: 30px;
            .read{
                width: 100%;
                padding: 12px 0px;
                border-radius: 15px;
                border: none;
                @include text($Riad-Regular, 20px, $Color-TextBtn);
                background: linear-gradient(to top, #9219d7 0%, #c16ef0 100%);
                @include ResponsXldown{
                    @include text($Riad-Regular, 13px, $Color-TextBtn);
                }
            }
            .order{
                width: 100%;
                padding: 12px 0px;
                border-radius: 15px;
                border: none;
                @include text($Riad-Regular, 20px, $Color-TextBtn);
                background: linear-gradient(to top, #5075e7 0%, #8cadf4 100%);
                 @include ResponsXldown{
                    @include text($Riad-Regular, 13px, $Color-TextBtn);
                }
            }
        }
    }
    .choose{
        .bgStar{
            height: 461px;
            background: linear-gradient(to left, #5075e7 0%, #8cadf4 100%);
            box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
            &::before{
                height: 367px;
                width: 386px;
                content: url(../img/starOne.png);
                position: absolute;
                opacity: 0.1;
                left: 14%;
                @include resp1200{
                    left: 32%;
                }
                @include Respons715{
                    display: none;
                }
            }
        }
        .textWrapper{
            text-align: center;
            padding-top: 50px;
            @include resp1200{
                padding-top: 25px;
            }
            .whyChoozeTitle{
                text-transform: uppercase;
                @include text($Proxima-Regular, 69px, $ColorWhyChooze);
                @include resp1700-1200{
                    @include text($Proxima-Regular, 50px, $ColorWhyChooze);
                }
                @include Respons715{
                     @include text($Proxima-Regular, 30px, $ColorWhyChooze);
                }
            }
            .whyChoozeText{
                @include text($Proxima-Light, 23px, $ColorWhyChooze);
                 @include resp1700-1200{
                    @include text($Proxima-Regular, 20px, $ColorWhyChooze);
                }
                @include Respons715{
                    @include text($Proxima-Regular, 16px, $ColorWhyChooze);
                }
            }
        }
        .listAbout{
            padding-top: 30px;
            @include resp1200{
                padding-top: 25px;
            }
            ul{
                li{
                    @include text($Proxima-Regular, 19px, $ColorListWhyChooze );
                     @include resp1700-1200{
                        @include text($Proxima-Regular, 15px, $ColorListWhyChooze);
                    }
                }
            }
        }
    }
    .placeBanner{
        @include resp992{
            display: none;
        }
        .bannerWrapper{
            height: 300px;
            background-color: $colorBgBanner;
            text-align: center;
            padding: 5%;
            @include  ResponsXldown{
                padding: 5%;
            }
            .bannerText{
                text-transform: uppercase;
                @include text($Proxima-Semibold, 110px, #fff);
                @include ResponsXldown{
                    @include text($Proxima-Semibold, 75px, #fff);
                }
            }
        }
    }
    .ourServices{
        padding-top: 50px;
        .title{
            p{
                text-transform: uppercase;
                @include text($Proxima-Regular, 49px, $ColorTextAfterHowItWorks);
                @include ResponsS350{
                    @include text($Proxima-Regular, 35px, $ColorTextAfterHowItWorks);
                }
            }
        }
        .text{
            p{
               @include text($Proxima-Regular, 20px, $ColorTextAfterHowItWorks);  
               padding-bottom: 50px;
               @include ResponsS350{
                    text-align: center;
                }
            }
        }
        .book{
            text-align: center;
            height: 385px;
            background: linear-gradient(to top, #9219d7 0%, #c16ef0 100%);
            box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
            padding-top: 40px;
            @include resp1700-1200{
                padding-top: 50px;
            }
            .titleBook{
                 @include text ($Proxima-Regular, 50px, $colorServices);
                 @include resp1700-1200{
                     @include text($Proxima-Regular,35px, $colorServices);
                 }
                  @include ResponsS380{
                     @include text($Proxima-Regular, 30px, $colorServices);
            }
            }
            .textBook{
                .textBookInner{
                   @include text ($Proxima-Regular, 20px, $colorServices);
                   @include resp1700-1200{
                       @include text($Proxima-Regular, 18px, $colorServices);
                   }
                    @include ResponsS350{
                    @include text($Proxima-Regular, 16px, $colorServices);
                }
                }
            }
            .buttonWrapper{
                 padding-top: 20px;
                button{
                    background: none;
                    border: 3px solid #fff;
                    border-radius: 15px;
                    padding: 10px 15px;
                    @include text ($Proxima-Regular, 25px, $colorServices);
                    @include resp1700-1200{
                        @include text($Proxima-Regular, 20px, $colorServices);
                    }
                    @include ResponsS350{
                    @include text($Proxima-Regular, 16px, $colorServices);
                }
                }
            }
        }
        .resume{
            text-align: center;
            height: 385px;
            background: linear-gradient(to top, #fd517e 0%, #fa6f94 100%);
            box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
            padding-top: 40px;
            @include resp1700-1200{
                padding-top: 35px;
            }
            @include resp992{
                margin-top: 30px;
            }
            @include ResponsS380{
                padding-top: 10px;
            }
            .titleResume{
                 @include text ($Proxima-Regular, 50px, $colorServices);
                 @include resp1700-1200{
                     @include text($Proxima-Regular,35px, $colorServices);
                }
                @include resp1200 {
                    @include text($Proxima-Regular, 45px, $colorServices);
                }
                @include ResponsS380{
                     @include text($Proxima-Regular, 40px, $colorServices);
                }
                @include ResponsS380{
                     @include text($Proxima-Regular, 30px, $colorServices);
            }
             @include ResponsS350{
                   padding-top: 50px;
                }
            }
            .textResume{
                .textResumeInner{
                   @include text ($Proxima-Regular, 20px, $colorServices);
                    @include ResponsS350{
                    @include text($Proxima-Regular, 16px, $colorServices);
                }
                }
            }
            .buttonWrapper{
                 padding-top: 20px;
                button{
                    background: none;
                    border: 3px solid #fff;
                    border-radius: 15px;
                    padding: 10px 15px;
                    @include text ($Proxima-Regular, 25px, $colorServices);
                     @include resp1700-1200{
                        @include text($Proxima-Regular, 20px, $colorServices);
                    }
                     @include ResponsS350{
                    @include text($Proxima-Regular, 16px, $colorServices);
                }
                }
            }
        }
        .case{
            text-align: center;
            height: 385px;
              background: linear-gradient(to top, #5075e7 0%, #8cadf4 100%);
            box-shadow: 4px 2px 8px rgba(185, 185, 185, 0.75);
            padding-top: 40px;
             @include resp1700-1200{
                padding-top: 50px;
            }
            @include resp1200{
                margin-top: 30px;
            }
            .titleCase{
                 @include text ($Proxima-Regular, 50px, $colorServices);
                 @include resp1700-1200{
                     @include text($Proxima-Regular,35px, $colorServices);
                 }
                  @include ResponsS380{
                     @include text($Proxima-Regular, 30px, $colorServices);
            }
            }
            .textCase{
                .textCaseInner{
                   @include text ($Proxima-Regular, 20px, $colorServices);
                   @include resp1700-1200{
                       @include text($Proxima-Regular, 18px, $colorServices);
                   }
                    @include ResponsS350{
                    @include text($Proxima-Regular, 16px, $colorServices);
                }
                }
            }
            .buttonWrapper{
                 padding-top: 20px;
                button{
                    background: none;
                    border: 3px solid #fff;
                    border-radius: 15px;
                    padding: 10px 15px;
                    @include text ($Proxima-Regular, 25px, $colorServices);
                     @include resp1700-1200{
                        @include text($Proxima-Regular, 20px, $colorServices);
                    }
                     @include ResponsS350{
                    @include text($Proxima-Regular, 16px, $colorServices);
                }
                }
            }
        }
        .textAboutServ{
            @include text($Proxima-Light, 20px, #28253b);
            @include resp992{
                text-align: center;
            }
        }
    }
    .services{
        padding-top: 70px;
        .servicesTitle{
            .title{
                text-transform: uppercase;
                @include text($Proxima-Regular, 49px,$ColorTextAfterHowItWorks );
                padding-bottom: 70px;
                @include ResponsS380{
                    @include text($Proxima-Regular, 40px,$ColorTextAfterHowItWorks);
                }
                 @include ResponsS350{
                    @include text($Proxima-Regular, 24px, $ColorTextAfterHowItWorks);
                }
            }
        }
    .firstBlock{
        text-align: center;
        .img{
            width: 70px;
            height: 88px;
            background: url(../img/user.png);
            display: inline-block;
            padding: 10px 0px;
               
            }
        .img2{
            width: 70px;
            height: 88px;
            background: url(../img/shield.png);
            display: inline-block;
            padding: 10px 0px;  
        }
    }
        .img3{
            width: 70px;
            height: 88px;
            background: url(../img/doc.png);
            display: inline-block;
            padding: 10px 0px;
        }
        .titleOfBlock{
            padding: 5px 0px;
            font-size: 20px;
            font-family: $Proxima-Bold;
            color: $ColorTextAfterHowItWorks;
        }
        .text{
            color: $ColorTextAfterHowItWorks;
            font-size: 18px;
            font-family: $Proxima-Light; 
            padding-bottom: 40px;
        }
    }    
}  
footer{
    .footerNav{
        background-color: $colorBgFooterNav;
        @include ResponsXldown{
            display: none;
        }
        .navFooterWrapper{
            ul{
                padding: 20px 0px;
                display: inline-block;
                li{
                    display: inline-block;
                    padding-left: 10px;
                    border-right: 2px solid #fff;
                    &:last-child{
                        border-right: none;
                    }
                    a{
                        font-size: 16px;
                        font-family: $Proxima-Light;
                        color:$colorTextFooterNav;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
    .mainFooter{
        background-color: $BgMainFooter;
        padding: 50px 0px 0px 0px;
        @include resp890{
                padding: 0px;
            }
        .aboutUs{
            @include resp890{
                display: none;
            }
             @include ResponsXldown{
            display: none;
            }
            .aboutUsTitle{
                .title{
                    @include text($Proxima-Semibold, 20px, #fff);
                }
            }
            .aboutUsText{
                .text{
                    @include text($Proxima-Light, 18px, #fff);
                    padding-top: 30px;
                }
            }
        }
        .newLetter{
            @include resp890{
                display: none;
            }
            .letterTitle{
                .title{
                    @include text($Proxima-Semibold,20px, #fff);
                }
            }
            .textLetter{
                .text{
                    @include text($Proxima-Light, 18px, #fff);
                    padding-top: 30px;
                }
            }
            .buttonMail{
                 padding: 27px 0px;
                .button{
                   padding: 12px 22px;
                   width: 253px;
                   text-align: left;
                   border-bottom-left-radius: 15px;
                   border-top-left-radius: 15px;
                   background: none;
                    @include text($Proxima-Light, 18px, #fff);
                    border: 1px solid #394050;
                }
                .btnInn{
                    border: 1px solid #394050;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    width: 40px;
                    padding: 13px 22px;
                    background-color: #394050;
                    i{
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }
        }
        .contactUs{
            @include resp890{
                display: none;
            }
            .contactTitle{
                padding-bottom: 30px;
                .title{
                    @include text($Proxima-Semibold, 20px, #fff);
                }
            }
            .contactList{
                .first{
                    @include text($Proxima-Light, 18px, #fff);
                    i{
                        color: #65b5eb;
                    }
                }
                .second{
                    padding-top: 5px;
                     @include text($Proxima-Light, 18px, #fff);
                    i{
                        color: #65b5eb;
                    }
                }
                .third{
                    padding-top: 5px;
                     @include text($Proxima-Light, 18px, #fff);
                    i{
                        color: #65b5eb;
                    }
                }
            }
        }
        .usefullLinks{
            @include resp890{
                display: none;
            }
                .linksTitle{
                    .title{
                        @include text($Proxima-Semibold, 20px, #fff);
                    }
                } 
            .linksList{
                padding-top: 30px;
                ul{
                    li{
                        @include text($Proxima-Light, 18px, #fff);
                        i{
                            padding-right: 10px;
                            color: #65b5eb;
                        }
                    }
                }
            }    
        }
    }
    .copyWrite{
        text-align: center;
        padding: 50px 0px 15px 0px;
        @include text($Proxima-Light, 18px, #fff);
        @include resp890{
                padding: 0px 0px 20px 0px;
            }
    }
} 

        
    

